<!-- Header -->
<div class="container-fluid fixed-top">
  <div class="row">
    <nav class="navbar navbar-expand-md bg-theme navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/e-logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <form class="form-inline mx-auto col-lg-6 col-md-12" action="/">
          <div class="input-group">
            <input type="text" class="form-control bg-theme-light border-right-0" placeholder="Search for products, bands, and more...">
            <div class="input-group-append border-left-0">
              <button class="input-group-text bg-theme-light">
                <svg width="1em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
              </button>
            </div>
          </div>
        </form>
        <ul class="list-group list-group-horizontal flag mt-2 mt-lg-0 justify-content-center">
          <li class="list-group-item dropdown">
            <a class="nav-link px-lg-3 px-sm-0 dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <img height="30px" src="./assets/img/flag1.png" alt="">
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">
                <img height="30px" src="./assets/img/flag1.png" alt="">
              </a>
              <a class="dropdown-item" href="#">
                <img height="30px" src="./assets/img/flag2.png" alt="">
              </a>
              <a class="dropdown-item" href="#">
                <img height="30px" src="./assets/img/flag3.png" alt="">
              </a>
            </div>
          </li>  
          <li class="list-group-item">
            <a class="nav-link px-lg-3 px-sm-0" href="#">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
              <span class="d-none d-md-inline-block">Sign In or Sign Up</span>
            </a>
          </li>
          <li class="list-group-item">
            <a class="nav-link px-lg-3 px-sm-0" href="#">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
              </svg>
              <span class="d-none d-md-inline-block">Cart</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-expand-md bg-white navbar-dark p-0">
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav w-100 border-bottom shadow-sm justify-content-lg-start justify-content-md-center">
          <!-- Dropdown -->
          <li class="nav-item dropdown pl-2 pr-lg-5 px-md-auto border-right">
            <a class="nav-link text-danger dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <b>ALL CATEGORIES</b>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-dark" href="#"><b>MOBILE</b></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-dark" href="#"><b>ELECTRONICS</b></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-dark" href="#"><b>FASHION</b></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-dark" href="#"><b>HOME & DECOR</b></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-dark" href="#"><b>BEAUTY & FRAGRANCE</b></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-dark" href="#"><b>BABY & KIDS</b></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-dark" href="#"><b>GROCERY</b></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-dark" href="#"><b>DAILY DEALS</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- Banner -->
<div class="container-fluid bg-white">
  <div class="row fixed-top-margin">
    <div id="carouselExampleIndicators" class="carousel slide px-0 pb-5" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 img-fluid" src="./assets/img/banner.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="./assets/img/banner.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="./assets/img/banner.png" alt="Third slide">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Brands: Sticky Nav -->
<div class="container-fluid bg-white">
  <div class="row">
    <h6 class="pl-4"><b>Top Brands in Mobile</b></h6>
  </div>
</div>
<div class="container-fluid sticky-top py-3 bg-white">
  <div class="row">
    <div class="col-2 d-flex justify-content-center">
      <img class="img-fluid" src="./assets/img/brand-1.png" alt="">
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="img-fluid" src="./assets/img/brand-2.png" alt="">
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="img-fluid" src="./assets/img/brand-3.png" alt="">
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="img-fluid" src="./assets/img/brand-4.png" alt="">
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="img-fluid" src="./assets/img/brand-5.png" alt="">
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="img-fluid" src="./assets/img/brand-6.png" alt="">
    </div>
  </div>
</div>

<div class="container-fluid bg-white mt-3">
  <div class="row">
    <h6 class="pl-4 my-3"><b>Home / Mobiles & Tablets / Mobiles & Accessories / Mobiles</b></h6>
    <div class="col-lg-3">
      <nav class="navbar navbar-expand-md bg-white navbar-dark">
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavbar1">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar1">
          <ul class="list-group w-100">
            <li class="list-group-item d-flex border-0">
              <h5 class="w-50"><b>Filters</b></h5>
              <p class="text-danger text-right w-50">Clear All</p>
            </li>
            <li class="list-group-item border-left-0"></li>
            <li class="list-group-item border-left-0">
              <div class="d-flex align-items-center">
                <h6 class="w-50"><b>CATEGORY</b></h6>
                <p class="text-muted text-right w-50">
                  <button class="btn bg-muted rounded-circle">
                    <svg width="1em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                  </button>
                </p>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Mobile
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Mobile Accessories
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Tablet
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Laptop
                </label>
              </div>
            </li>
            <li class="list-group-item border-left-0">
              <div class="d-flex align-items-center">
                <h6 class="w-50"><b>BRANDS</b></h6>
                <p class="text-muted text-right w-50">
                  <button class="btn bg-muted rounded-circle">
                    <svg width="1em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                  </button>
                </p>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Apple
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Samsung
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Huawei
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Sony
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Lg
                </label>
              </div>
              <p class="text-danger my-3">See All</p>
            </li>
            <li class="list-group-item border-left-0">
              <div class="d-flex align-items-center">
                <h6 class="w-50"><b>PRICE</b></h6>
              </div>
              <div>
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
              </div>
              <div>
                <form action="/" class="form-inline">
                  <div class="input-group d-flex align-items-center">
                    <input type="text" class="form-control mx-2 rounded">
                    <span class="text-muted">To</span>
                    <input type="text" class="form-control mx-2 rounded">
                    <button class="btn bg-theme text-white rounded"><b>Go</b></button>
                  </div>
                </form>
              </div>
            </li>
            <li class="list-group-item border-left-0">
              <div class="d-flex align-items-center">
                <h6 class="w-50"><b>RAM</b></h6>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">6 GB
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">5 GB
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">4 GB
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">3 GB
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">2 GB
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">1 GB
                </label>
              </div>
            </li>
            <li class="list-group-item border-left-0 p-0">
              <div class="accordion" id="accordionExample">
                <div class="card border-left-0 border-right-0 rounded-0">
                  <div class="card-header bg-transparent" id="headingOne" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left pl-0 text-dark collapsed d-flex w-100" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="w-75"><b>INTEGRAL STORAGE</b></span> 
                        <p class="text-right m-0 w-25">
                          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                        </p>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card border-left-0 border-right-0 rounded-0">
                  <div class="card-header bg-transparent" id="headingTwo" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left pl-0 text-dark collapsed d-flex w-100" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <span class="w-75"><b>CUSTOMER RATING</b></span> 
                        <p class="text-right m-0 w-25">
                          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                        </p>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card border-left-0 border-right-0 rounded-0">
                  <div class="card-header bg-transparent" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left pl-0 text-dark collapsed d-flex w-100" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <span class="w-75"><b>OPERATING SYSTEM</b></span> 
                        <p class="text-right m-0 w-25">
                          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                        </p>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card border-left-0 border-right-0 rounded-0">
                  <div class="card-header bg-transparent" id="headingFour">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left pl-0 text-dark collapsed d-flex w-100" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <span class="w-75"><b>NETWORK TYPE</b></span> 
                        <p class="text-right m-0 w-25">
                          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                        </p>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card border-left-0 border-right-0 rounded-0">
                  <div class="card-header bg-transparent" id="headingFive">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left pl-0 text-dark collapsed d-flex w-100" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <span class="w-75"><b>SCREEN SIZE</b></span> 
                        <p class="text-right m-0 w-25">
                          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                        </p>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card border-left-0 border-right-0 rounded-0">
                  <div class="card-header bg-transparent" id="headingSix">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left pl-0 text-dark collapsed d-flex w-100" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        <span class="w-75"><b>SIM TYPE</b></span> 
                        <p class="text-right m-0 w-25">
                          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                        </p>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card border-left-0 border-right-0 rounded-0">
                  <div class="card-header bg-transparent" id="headingSeven">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left pl-0 text-dark collapsed d-flex w-100" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        <span class="w-75"><b>RESOLUTION TYPE</b></span> 
                        <p class="text-right m-0 w-25">
                          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                        </p>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-lg-9">
      <div class="container-fluid my-3">
        <div class="row">
          <div class="col-md-9">
            <h5><b>Mobile Phones - 46969 items</b></h5>
          </div>
          <div class="col-md-3">
            <div class="dropdown">
              <button class="btn btn-theme-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b>LAYOUT CHANGE</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item" (click)="list()">
                  <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                  List</div>
                <div class="dropdown-item" (click)="grid()">
                  <svg width="1.5em" height="1em" viewBox="0 0 16 16" class="bi bi-grid" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                  </svg>
                  Grid</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mb-3">
        <div class="row">
          <div [ngClass]="{'col-lg-3 col-md-6 col-sm-6 col-6': gridView, 'row mb-3': listView}"
          *ngFor="let mobile of mobiles1">
            <img class="img-fluid" src="{{mobile.imageUrl}}" alt=""
            [ngClass]="{'col-lg-4': listView}">
            <div [ngClass]="{'col-lg-8': listView}">
              <p class="my-3"><b>{{mobile.description}}</b></p>
              <div [ngClass]="{'d-flex my-3':mobile.oldPrice1!=''}">
                <p class="text-primary"
                [ngClass]="{'pr-3':mobile.oldPrice1!='', 'my-3':mobile.oldPrice1==''}"><b>{{mobile.currency}}{{mobile.price}}</b></p>
                <p class="text-danger" *ngIf="mobile.oldPrice!=''"><b>{{mobile.currency}}{{mobile.oldPrice}}</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mb-3">
        <div class="row">
          <div class="col-6">
            <img class="img-fluid" src="./assets/img/mid1.png" alt="">
          </div>
          <div class="col-6">
            <img class="img-fluid" src="./assets/img/mid2.png" alt="">
          </div>
        </div>
      </div>
      <div class="container-fluid mb-3">
        <div class="row">
          <div [ngClass]="{'col-lg-3 col-md-6 col-sm-6 col-6': gridView, 'row mb-3': listView}"
          *ngFor="let mobile of mobiles2">
            <img class="img-fluid" src="{{mobile.imageUrl}}" alt=""
            [ngClass]="{'col-lg-4': listView}">
            <div [ngClass]="{'col-lg-8': listView}">
              <p class="my-3"><b>{{mobile.description}}</b></p>
              <div [ngClass]="{'d-flex my-3':mobile.oldPrice1!=''}">
                <p class="text-primary"
                [ngClass]="{'pr-3':mobile.oldPrice1!='', 'my-3':mobile.oldPrice1==''}"><b>{{mobile.currency}}{{mobile.price}}</b></p>
                <p class="text-danger" *ngIf="mobile.oldPrice!=''"><b>{{mobile.currency}}{{mobile.oldPrice}}</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid my-5">
        <div class="row justify-content-center">
          <button class="btn btn-theme-outline w-auto"><b>SHOW MORE PRODUCTS (1252)</b></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="container-fluid bg-dark">
  <div class="row py-5">
    <div class="col-lg-3">
      <h5 class="text-white"><b>ABOUT SHOP</b></h5>
      <div class="border-bottom border-muted"></div>
      <p class="text-muted mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque accusantium, ea consequatur alias quam omnis, quaerat excepturi tenetur illum.
      </p>
      <h5 class="text-white mt-4"><b>SUBSCRIBE FOR NEWSLETTER!</b></h5>
      <form class="form-inline my-3" action="/">
        <div class="input-group">
          <input type="text" class="form-control bg-transparent border-right-0" 
          placeholder="Enter email address">
          <div class="input-group-append">
            <button class="input-group-text bg-transparent border-left-0">

              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="1em" height="1.5em" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;"
                xml:space="preserve">
              <g fill="#fff">
                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
                  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
                  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
              </g>
              </svg>

            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-3">
      <h5 class="text-white"><b>INFORMATION</b></h5>
      <div class="border-bottom border-muted"></div>
      <ul class="list-group border-0">
        <li class="list-group-item border-0 bg-transparent pl-0"><a class="text-muted" href="">Our Stores</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Delivery Information</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">About Us</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Terms & Conditions</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Privacy Policy</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Contact Us</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Returns</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h5 class="text-white"><b>ABOUT US</b></h5>
      <div class="border-bottom border-muted"></div>
      <ul class="list-group border-0">
        <li class="list-group-item border-0 bg-transparent pl-0"><a class="text-muted" href="">Our Stores</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Delivery Information</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">About Us</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Terms & Conditions</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Privacy Policy</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Contact Us</a></li>
        <li class="list-group-item border-0 bg-transparent pl-0 pt-0"><a class="text-muted" href="">Returns</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h5 class="text-white"><b>GET IN TOUCH</b></h5>
      <div class="border-bottom border-muted"></div>
      <p class="text-muted mt-3 mb-4">Haute Street, 86A Topsia Road Kolkata 700024, WB, India</p>
      <p class="text-muted mb-0">+91 33 2568 7894</p>
      <p class="text-muted mb-5">support@domain.com</p>
      <ul class="list-group list-group-horizontal flex-wrap social">
        <li class="list-group-item bg-transparent border border-muted rounded-0 mr-2 mb-2"><a class="text-muted" href="">
          <svg id="Bold" enable-background="new 0 0 24 24" fill="#696969" height="1.5em" viewBox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/></svg>
        </a></li>
        <li class="list-group-item bg-transparent border border-muted rounded-0 mr-2 mb-2"><a class="text-muted" href="">  
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          height="1.5em"  width="1em"
            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
              <path fill="#696969"  d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016
                c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992
                c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056
                c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152
                c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792
                c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44
                C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568
                C480.224,136.96,497.728,118.496,512,97.248z"/>
            </g>
          </svg>
        </a></li>
        <li class="list-group-item bg-transparent border border-muted rounded-0 mr-2 mb-2"><a class="text-muted" href="">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          height="1.5em"  width="1em" viewBox="0 0 97.75 97.75" style="enable-background:new 0 0 97.75 97.75;" xml:space="preserve"
            >
          <g>
            <path fill="#696969" d="M48.875,0C21.883,0,0,21.882,0,48.875S21.883,97.75,48.875,97.75S97.75,75.868,97.75,48.875S75.867,0,48.875,0z
              M54.499,65.109c-4.521,0-8.773-2.444-10.229-5.219c0,0-2.432,9.645-2.943,11.506c-1.813,6.58-7.146,13.162-7.561,13.701
              c-0.289,0.375-0.928,0.258-0.994-0.24c-0.113-0.838-1.475-9.139,0.127-15.909c0.801-3.4,5.383-22.814,5.383-22.814
              s-1.334-2.673-1.334-6.625c0-6.205,3.596-10.837,8.074-10.837c3.807,0,5.645,2.859,5.645,6.286c0,3.828-2.436,9.552-3.693,14.856
              c-1.051,4.441,2.225,8.064,6.605,8.064c7.933,0,13.272-10.188,13.272-22.261c0-9.174-6.176-16.044-17.418-16.044
              c-12.697,0-20.615,9.471-20.615,20.052c0,3.646,1.078,6.221,2.764,8.21c0.773,0.915,0.883,1.283,0.602,2.333
              c-0.203,0.771-0.66,2.625-0.854,3.358c-0.279,1.062-1.137,1.44-2.098,1.049c-5.846-2.387-8.572-8.793-8.572-15.994
              c0-11.893,10.029-26.154,29.922-26.154c15.985,0,26.506,11.566,26.506,23.984C77.089,52.839,67.956,65.109,54.499,65.109z"/>
          </g>
          </svg>
        </a></li>
        <li class="list-group-item bg-transparent border border-muted rounded-0 mr-2 mb-2"><a class="text-muted" href="">
          <svg fill="#696969" height="1.5em" viewBox="-21 -117 682.66672 682" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m626.8125 64.035156c-7.375-27.417968-28.992188-49.03125-56.40625-56.414062-50.082031-13.703125-250.414062-13.703125-250.414062-13.703125s-200.324219 0-250.40625 13.183593c-26.886719 7.375-49.03125 29.519532-56.40625 56.933594-13.179688 50.078125-13.179688 153.933594-13.179688 153.933594s0 104.378906 13.179688 153.933594c7.382812 27.414062 28.992187 49.027344 56.410156 56.410156 50.605468 13.707031 250.410156 13.707031 250.410156 13.707031s200.324219 0 250.40625-13.183593c27.417969-7.378907 49.03125-28.992188 56.414062-56.40625 13.175782-50.082032 13.175782-153.933594 13.175782-153.933594s.527344-104.382813-13.183594-154.460938zm-370.601562 249.878906v-191.890624l166.585937 95.945312zm0 0"/></svg>
        </a></li>
        <li class="list-group-item bg-transparent border border-muted rounded-0 mr-2 mb-2"><a class="text-muted" href="">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          fill="#696969" height="1.5em" width="1em"
          viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
          <g id="XMLID_504_">
            <path id="XMLID_505_" d="M38.52,0.012h222.978C282.682,0.012,300,17.336,300,38.52v222.978c0,21.178-17.318,38.49-38.502,38.49
              H38.52c-21.184,0-38.52-17.313-38.52-38.49V38.52C0,17.336,17.336,0.012,38.52,0.012z M218.546,33.329
              c-7.438,0-13.505,6.091-13.505,13.525v32.314c0,7.437,6.067,13.514,13.505,13.514h33.903c7.426,0,13.506-6.077,13.506-13.514
              V46.854c0-7.434-6.08-13.525-13.506-13.525H218.546z M266.084,126.868h-26.396c2.503,8.175,3.86,16.796,3.86,25.759
              c0,49.882-41.766,90.34-93.266,90.34c-51.487,0-93.254-40.458-93.254-90.34c0-8.963,1.37-17.584,3.861-25.759H33.35v126.732
              c0,6.563,5.359,11.902,11.916,11.902h208.907c6.563,0,11.911-5.339,11.911-11.902V126.868z M150.283,90.978
              c-33.26,0-60.24,26.128-60.24,58.388c0,32.227,26.98,58.375,60.24,58.375c33.278,0,60.259-26.148,60.259-58.375
              C210.542,117.105,183.561,90.978,150.283,90.978z"/>
          </g>
          </svg>
        </a></li>
      </ul>
    </div>
  </div>
  <div class="col-12">
    <div class="border-bottom border-muted"></div>
  </div>
  <div class="row py-4">
    <div class="col-lg-6 d-flex justify-content-lg-start justify-content-sm-center text-muted">
      <b>&copy; {{currentYear}} All Rights Reserved.</b>
    </div>
    <div class="col-lg-6 d-flex justify-content-lg-end justify-content-sm-center">
      <img src="./assets/img/card-payment.png" alt="">
    </div>
  </div>
</div>