<div class="container-fluid fixed-top">
  <div class="row">
    <nav class="navbar navbar-expand-md bg-theme navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/e-logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <form class="form-inline mx-auto col-lg-6 col-md-12" action="/">
          <div class="input-group">
            <input type="text" class="form-control bg-theme-light border-right-0" placeholder="Search for products, bands, and more...">
            <div class="input-group-append border-left-0">
              <button class="input-group-text bg-theme-light">
                <svg width="1em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
              </button>
            </div>
          </div>
        </form>
        <ul class="list-group list-group-horizontal flag mt-2 mt-lg-0 justify-content-center">
          <li class="list-group-item dropdown">
            <a class="nav-link px-lg-3 px-sm-0 dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <img height="30px" src="./assets/img/flag1.png" alt="">
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">
                <img height="30px" src="./assets/img/flag1.png" alt="">
              </a>
              <a class="dropdown-item" href="#">
                <img height="30px" src="./assets/img/flag2.png" alt="">
              </a>
              <a class="dropdown-item" href="#">
                <img height="30px" src="./assets/img/flag3.png" alt="">
              </a>
            </div>
          </li>  
          <li class="list-group-item">
            <a class="nav-link px-lg-3 px-sm-0" href="#">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
              <span class="d-none d-md-inline-block">Sign In or Sign Up</span>
            </a>
          </li>
          <li class="list-group-item">
            <a class="nav-link px-lg-3 px-sm-0" href="#">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
              </svg>
              <span class="d-none d-md-inline-block">Cart</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-expand-md bg-white navbar-dark p-0">
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav w-100 border-bottom shadow-sm justify-content-lg-start justify-content-md-center">
          <!-- Dropdown -->
          <li class="nav-item dropdown pl-lg-2 pr-lg-5 px-md-auto border-right border-muted">
            <a class="nav-link text-danger dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <b>ALL CATEGORIES</b>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link text-dark" href="#"><b>MOBILE</b></a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link text-dark" href="#"><b>ELECTRONICS</b></a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link text-dark" href="#"><b>FASHION</b></a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link text-dark" href="#"><b>HOME & DECOR</b></a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link text-dark" href="#"><b>BEAUTY & FRAGRANCE</b></a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link text-dark" href="#"><b>BABY & KIDS</b></a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link text-dark" href="#"><b>GROCERY</b></a>
          </li>
          <li class="nav-item px-lg-2">
            <a class="nav-link text-dark" href="#"><b>DAILY DEALS</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>