/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// theme font
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$theme: #6539aa;
$theme-light: #b29cd5;
$theme-font: 'Mulish', sans-serif;

body {
    font-family: $theme-font !important;
    background-color: #eaeef4;
}

a {
    text-decoration: none !important;
}

.flag {
    .dropdown-menu {
        min-width: 0 !important;
    }

    a {
        color: #fff;
    }

    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
    .list-group-item {
        background: transparent;
        border-radius: 0%;
        border: 0;
        border-right: 1px solid #fff;
        padding: 0;
    }
    .list-group-item:last-child {
        border-right: none;
    }
}

.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bg-theme {
    background-color: $theme !important;
}
.bg-theme-light {
    background-color: $theme-light !important;
}

.bg-muted {
    background-color: #bfbfbf !important;
}

.border-muted {
    border-color: #696969 !important;
}

.fixed-top-margin {
    margin-top: 115px !important;
}
.sticky-top {
    top: 115px !important;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #464646;
}
.ngx-slider .ngx-slider-pointer {
    cursor: pointer !important;
    width: 23px !important;
    height: 23px !important;
    top: -10px !important;
    background-color: #dd4445 !important;
    z-index: 3 !important;
    border-radius: 50% !important;
    box-shadow: 0 3px 4px #ababab;
}
.ngx-slider .ngx-slider-pointer:after {
    content: '' !important;
    width: 20px !important;
    height: 20px !important;
    position: absolute !important;
    top: 1.5px !important;
    left: 1.6px !important;
    border-radius: 50% !important;
    background: #fff !important;
}
.ngx-slider .ngx-slider-selection {
    background-color: #dd4445 !important;
}
.collapsed, .show {
    text-decoration: none;
    font-weight: bold;
}
.btn-theme-outline {
    border: 1px solid $theme;
    color: $theme;
}
.social li:hover {
    cursor: pointer;
    background-color: #bfbfbf !important;
    a {
        fill: #000;
    }
}
@media(max-width: 767px) {
    .fixed-top-margin {
        margin-top: 70px !important;
    }
    .sticky-top {
        top: 70px !important;
    }
}